.page-container {
  display: grid;
  grid-template-columns: 60px auto;
  height: 100%;
  padding: 0px;
  

  .side-bar {
    background: #252223;

    .nav-link {
      color: #FFF;
      font-size: 28px;
    }
  }

  .content-container {
    margin-top: 30px;
  }

  .bg-img
{
    background-image: url('https://media.istockphoto.com/vectors/magnifying-glass-icon-seamless-pattern-background-business-concept-vector-id978462044');
    background-position: center;
    background-repeat: no-repeat; 
}

}
