
<div class="create-page">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Cadastrar Item</li>
      </ol>
    </nav>
    <div class="page-content">
      <div class="row">
        
        <div class="col col-md-8">
  
          <form class="create-form" [formGroup]="exampleForm" novalidate (ngSubmit)="onSubmit(exampleForm.value)">
  
            <div class="form-group">
                  <mat-form-field class="input-style">
                    <input matInput type="number" min="0" max="100" placeholder="ID do Fornecedor" class="form-control" formControlName="iditem">
                  </mat-form-field>
                  <ng-container *ngFor="let validation of validation_messages.age">
                    <mat-error *ngIf="exampleForm.get('iditem').hasError(validation.type) && (exampleForm.get('iditem').dirty || exampleForm.get('iditem').touched)">{{validation.message}}</mat-error>
                  </ng-container>
            </div>
  
            <div class="form-group">
              <mat-form-field class="input-style">
                <input matInput placeholder="Nome" class="form-control" formControlName="nomeitem">
              </mat-form-field>
              <ng-container *ngFor="let validation of validation_messages.name">
                <mat-error *ngIf="exampleForm.get('nomeitem').hasError(validation.type) && (exampleForm.get('nomeitem').dirty || exampleForm.get('nomeitem').touched)">{{validation.message}}</mat-error>
              </ng-container>
            </div>
  
            <div class="form-group">
                <mat-form-field class="input-style">
                  <input matInput placeholder="Descrição" class="form-control" formControlName="desc">
                </mat-form-field>
                <ng-container *ngFor="let validation of validation_messages.name">
                  <mat-error *ngIf="exampleForm.get('desc').hasError(validation.type) && (exampleForm.get('desc').dirty || exampleForm.get('desc').touched)">{{validation.message}}</mat-error>
                </ng-container>
              </div>
              
            <div class="row submit-button-container">
              <div class="col-md-4">
                <button mat-raised-button class="submit-button" color="primary" type="submit" [disabled]="!exampleForm.valid">Adicionar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  